/*
Team should agree on these so we can stay consistant :)
Color Scheme Idea:
Dark:     #
Midtone:  #
Light:    #
Accent1:  #
Accent2:  #
*/

:root {
    --custom-dark: #000000;
    --custom-mid: #AAAAAA;
    --custom-light: #FFFFFF;
}


.App {
    text-align: center;
    background-color: var(--custom-light);
    min-height: 100vh;
}

.Login {
    height: 100%;
}

.Login-Logo {
    width: 50%;
    height: auto;
}

.Login-Box {
    padding: 20px;
}
